if SHIELD_BORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "borne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_BORNE_LEFT

if SHIELD_BORNE_LEFT || SHIELD_BORNE_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SPLIT_WIRED
    default y

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB

endif # SHIELD_BORNE_LEFT || SHIELD_BORNE_RIGHT
